# Importing Libraies

In [70]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as np

# Reading the Datasets

In [113]:
df=pd.read_csv('train.csv')

In [114]:
test=pd.read_csv('test.csv')

In [115]:
df.drop(['location','keyword'],axis=1,inplace=True)

In [116]:
test.drop(columns=['location','keyword'],axis=1,inplace=True)

# Handling the null values

In [117]:
df.isnull().sum()

id        0
text      0
target    0
dtype: int64

In [118]:
test.isnull().sum()

id      0
text    0
dtype: int64

In [119]:
df.nunique()

id        7613
text      7503
target       2
dtype: int64

In [120]:
df.dropna(inplace=True)

In [121]:
test.isnull().sum()

id      0
text    0
dtype: int64

# Removing the duplicates

In [122]:
df.duplicated(subset=['text']).sum()

110

In [123]:
test.duplicated(subset=['text']).sum()

20

In [124]:
df.drop_duplicates(subset=['text'],inplace=True)

In [125]:
df.reset_index(inplace=True)

In [126]:
test.reset_index(inplace=True)

In [127]:
y=df['target']

In [128]:
df.drop(['target'],axis=1,inplace=True)

In [129]:
df.shape

(7503, 3)

In [132]:
test.shape

(3263, 3)

In [133]:
df

      index     id                                               text
0         0      1  Our Deeds are the Reason of this #earthquake M...
1         1      4             Forest fire near La Ronge Sask. Canada
2         2      5  All residents asked to 'shelter in place' are ...
3         3      6  13,000 people receive #wildfires evacuation or...
4         4      7  Just got sent this photo from Ruby #Alaska as ...
...     ...    ...                                                ...
7498   7604  10863  #WorldNews Fallen powerlines on G:link tram: U...
7499   7605  10864  on the flip side I'm at Walmart and there is a...
7500   7606  10866  Suicide bomber kills 15 in Saudi security site...
7501   7608  10869  Two giant cranes holding a bridge collapse int...
7502   7612  10873  The Latest: More Homes Razed by Northern Calif...

[7503 rows x 3 columns]

In [110]:
test

      index     id                                               text
0         0      0                 Just happened a terrible car crash
1         1      2  Heard about #earthquake is different cities, s...
2         2      3  there is a forest fire at spot pond, geese are...
3         3      9           Apocalypse lighting. #Spokane #wildfires
4         4     11      Typhoon Soudelor kills 28 in China and Taiwan
...     ...    ...                                                ...
3258   3258  10861  EARTHQUAKE SAFETY LOS ANGELES Â‰Ã›Ã’ SAFETY FASTE...
3259   3259  10865  Storm in RI worse than last hurricane. My city...
3260   3260  10868  Green Line derailment in Chicago http://t.co/U...
3261   3261  10874  MEG issues Hazardous Weather Outlook (HWO) htt...
3262   3262  10875  #CityofCalgary has activated its Municipal Eme...

[3263 rows x 3 columns]

# Combing the datasets

In [136]:
train=pd.concat([df,test],ignore_index=True)

In [140]:
a=np.array(train['text'])

# Removing the Links

In [141]:
b=[]
links=[]
for i in a:
    i=i.split(' ')
    c=[]
    
    for j in i:
        if 'http' not in j:
            c.append(j)
        if 'http' in j:
            links.append(j)
    c=' '.join(c)
    b.append(c)

In [145]:
b=np.array(b)
train['text']=b

# Natural Language Processing

In [146]:
from nltk.stem import WordNetLemmatizer
from nltk import word_tokenize
from nltk.corpus import stopwords
import re

In [147]:
lm=WordNetLemmatizer()
sw=stopwords.words('english')

In [162]:
data = []
for i in train['text']:
    t = i.lower()                     # conversion to lower case
    t = re.sub('[^A-Za-z]',' ',t)     # removing punctuations and numbers
    t = word_tokenize(t)              # word-tokenization -> returns a list
    t = [i for i in t if i not in sw] # removing stop words -> returns a list
    t = [lm.lemmatize(i) for i in t]  # lemmatization => returns a list
    t = " ".join(t)                   # return a string
    data.append(t)

In [163]:
# !pip install pyspellchecker

In [164]:
# from spellchecker import SpellChecker

In [165]:

# spell = SpellChecker()
# def correct_spellings(text):
#     corrected_text = []
#     misspelled_words = spell.unknown(text.split())
#     for word in text.split():
#         if word in misspelled_words:
#             corrected_text.append(spell.correction(word))
#         else:
#             corrected_text.append(word)
#     return " ".join(corrected_text)

In [170]:
len(data)

10766

In [169]:
df.shape

(7503, 3)

# Converting the words into Vectors

In [177]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [247]:
tfidf=TfidfVectorizer()
result=tfidf.fit_transform(data).toarray()
len(tfidf.get_feature_names_out())

18504

In [248]:
a=pd.DataFrame(result,columns=tfidf.get_feature_names_out())

In [249]:
a

,aa,aaaa,aaaaaaallll,aaaaaand,aace,aal,aamir,aan,aannnnd,aapatwork,...,zouma,zourryart,zrnf,zuma,zumiez,zurich,zvch,zx,zxathetis,zzzz
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10761,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10762,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10763,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10764,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10765,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [250]:
x_train=a[:7503]
x_test=a[7503:]

# Training the Models and Predicting on Test Data

In [256]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()
model.fit(x_train,y)
model.score(x_train,y)

0.9886711981873917